.myBG {
    height: 100vh;
    background:url("../assets/image/bg/bg\ 6.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;

}

.game populer {
    height: 100vh;
    background:url("../assets/image/bg/bg\ 2.jpg");
    background-size: cover;
}